@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  @apply bg-white/40 flex rounded-full !w-auto py-1 !left-1/2 !-translate-x-1/2 !bottom-16 px-1;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-white !mx-[2px];
}

input:read-only:not([type="file"])
 textarea:read-only {
  @apply bg-gray3 border-none cursor-not-allowed;
}